<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content"
		style="margin-right: 100px; margin-left: 100px; margin-top: 30px; margin-bottom: 30px">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="page-title">Patient</h4>
			</div>
		</div>
		<form th:object="${patientForm2}" th:action="@{/admin/patient/saveUpdate}" id="form"
			method="post" enctype="multipart/form-data">
			<div class="card-box profile-header">
				<div class="row">
					<div class="col-md-12" style="margin-bottom: 40px;">
						<div class="profile-img-wrap">
							<img class="inline-block"
								th:src="@{'/upload/patient/'+ ${patientForm2.imageUrl}}" id="path-image" alt="user">
							<div class="fileupload btn">
								<span class="btn-text">edit</span>
								    <input class="upload" id="image-file" type="file" th:field="*{imageUrl}">
							</div>
						</div>
						<div class="profile-basic">
							<div class="col-md-6">
								<div class="form-group form-focus">
									<h3 class="user-name m-t-0 mb-0" th:text="*{name}"></h3>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--  -->

			<div class="profile-tabs">
				<ul class="nav nav-tabs nav-tabs-bottom">
					<li class="nav-item"><a class="nav-link active"
						href="#about-cont" data-toggle="tab">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#bottom-tab2"
						data-toggle="tab">Illness</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane fade in active" id="about-cont">
						<div class="row">
							<div class="col-md-12">
								<div class="card-box">
									<h3 class="card-title">Basic Informations</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="focus-label">Fullname</label> <input
													type="text" class="form-control floating required"
													data-msg-required="Fullname is required."
										aria-required="true"
													th:field="*{name}">
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="focus-label">Birth Date</label> <input
													class="form-control floating required"
													data-msg-required="Birth Date is required."
										aria-required="true" type="date" th:field="*{dob}">
											</div>
										</div>
									</div>
								</div>
								<!--  -->
								<div class="card-box mb-0">
									<h3 class="card-title">Contact Informations</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group form-focus">
												<label class="focus-label">Address</label> <input
													type="text"
													data-msg-required="Address is required."
										aria-required="true" class="form-control floating required"
													th:field="*{address}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="focus-label">Email</label> <input type="text"
													data-msg-required="Email is required."
										aria-required="true" class="form-control floating required" th:field="*{email}">
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="focus-label">Phone Number</label> <input
													data-msg-required="Phone Number is required."
										aria-required="true" type="text" class="form-control floating required"
													th:field="*{phone}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-focus">
												<label class="focus-label">Identity Card</label> <input
													data-msg-required="Identity Card is required."
										aria-required="true" type="text" class="form-control floating required"
													th:field="*{identityCard}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="bottom-tab2">
						<div class="row">
							<div class="col-md-12">
								<div class="card-box">
									<h3 class="card-title">Illness Detail</h3>
									<div class="row">
										<div class="col-md-6">
											<label class="focus-label">Illness Type</label>
											<div class="form-group form-focus">
												<input type="text" class="form-control">
											</div>
										</div>

										<div class="col-md-6">
											<label class="focus-label">Patient Note</label>
											<div class="form-group form-focus">
												<textarea rows="10" class="form-control"
													th:field="*{patientNote}"></textarea>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="form-group">
							<label class="display-block">Patient Status</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{status}" id="active" value="true" checked>
								<text class="form-check-label" for="active"> Active </text>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{status}" id="inactive" value="false">
								<text class="form-check-label" for="inactive"> Inactive </text>
							</div>
						</div>
				</div>
			</div>
			<!--  -->
			<div class="text-center m-t-20">
				<button class="btn btn-primary submit-btn" type="submit">Save</button>
				<input type="hidden" th:field="*{patientId}" />
			</div>
		</form>
		<script src="/assets/js/jquery.validate.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			 
	        //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
	        $("#form").validate({
	            rules: {
	            	name : {
	            		minlength: 4,
	            		maxlength: 50
	            	},
	            	dob: {
	            		max: "2019-10-29"
	            	},
	                email: {
	                    email: true
	                  },
	                identityCard: {
	                	digits: true,
	                	minlength: 9
	                },
	                phone: {
	                	digits: true,
	                	minlength: 10
	                }
	            },
	            messages: {
	            	dob: {
	            		max: "Dob must be less than today!!!"
	            	},
	            	email: {
	                    email: "Invalid email format!!!"
	                  },
	                  identityCard: {
		                	digits: "Identity card does not include alphabet characters!!!"
		                },
		                phone: {
		                	digits: "Phone does not include alphabet characters!!!"
		                }
		            }
	        });
			$("#image-file").change(function() {
				readURL(this);
			});
	    });

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					displayImage(e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		function displayImage(src) {
			$('#path-image').attr('src', src);
			$('#path-image').css('display', "block");
		}
		</script>
	</div>

</body>
</html>


