<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="/assets/css/jquery.multiselect.css">
<script type="text/javascript" src="/assets/js/jquery.multiselect.js"></script>

<title>Medical Procedure Profile</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container pt-4 pb-4">
			<div class="row">
				<div class="col-sm-4 col-3">
					<h4 class="page-title">Appointment: AP-0001</h4>
				</div>

			</div>
			<!-- 			patient information -->
			<div class="row">
				<div class="col-md-12">
					<div class="card-box profile-header">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-view">
									<div class="profile-img-wrap">
										<div class="profile-img">
											<a href="#"><img class="avatar"
												src="assets/img/doctor-03.jpg" alt=""></a>
										</div>
									</div>
									<div class="profile-basic">
										<div class="row">
											<div class="col-md-5">
												<div class="profile-info-left">
													<h3 class="user-name m-t-0 mb-0" id="PatientName">Authur
														Flex</h3>
													<div class="staff-id">Age: 47</div>
													<div class="staff-id" id="PatientID">Patient ID :
														PA-0001</div>
													<a class="btn btn-primary"
														th:href="@{/admin/procedure/index/}">Return to
														Appointment List</a>
													<a th:href="@{/admin/procedure/export/{appID}(appID=${appID})}" class='btn btn-primary btn-outline'>
													Export Profile <i class='fa fa-envelope'></i></a>
												</div>
											</div>
											<div class="col-md-7">
												<ul class="personal-info">
													<li><span class="title">Phone:</span> <span
														class="text"><a href="#" id="Phone">770-889-6484</a></span></li>
													<li><span class="title">Email:</span> <span
														class="text"><a href="#" id="Email">cristinagroves@example.com</a></span>
													</li>
													<li><span class="title">Address:</span> <span
														class="text" id="Address">714 Burwell Heights Road,
															Bridge City, TX, 77611</span></li>
													<li><span class="title">Gender:</span> <span
														class="text" id="Gender">Female</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 			main profile information -->
			<div class="row">
				<div class="col-md-12">
					<div class="card-box">
						<h4 class="payslip-title">Medical Care Information</h4>
						<div class="row">
							<div class="col-lg-6 m-b-20">

								<ul class="list-unstyled">
									<li>
										<h4 class="mb-0">
											<strong>Symptom(s)</strong>
										</h4>
										<table class="table table-bordered">
											<tbody id="SymptomList">

											</tbody>
										</table>

									</li>
									<li></li>
								</ul>

								<ul class="list-unstyled">
									<li>
										<h4 class="mb-0">
											<strong>Examination(s)</strong>
										</h4> <!-- Modal -->
										<table class="table table-bordered">
											<tbody id="ExaminationList">

											</tbody>
										</table>
									</li>
									<li></li>
								</ul>

							</div>
							<div class="col-sm-6">
								<div>
									<h4 class="mb-0">
										<strong>Diagnosis Conclusion</strong><span class="text"><small><a
												href="#" onclick="NewDiagnosis()"> Create</a></small></span>
									</h4>
									<table class="table table-bordered">
										<tbody id="DiagnosisList">

										</tbody>
									</table>
								</div>

								<div>
									<h4 class="mb-0">
										<strong>Treatment Conclusion</strong><span class="text"><small><a
												href="#" onclick="NewTreatment()"> Create</a></small></span>
									</h4>
									<table class="table table-bordered">
										<tbody id="TreatmentList">

										</tbody>
									</table>
								</div>

								<div>
									<h4 class="mb-0">
										<strong>Prescription</strong><span class="text"><small><a
												href="#" onclick="NewPrescription()"> Create</a></small></span>
									</h4>
									<table class="table table-bordered">
										<tbody id="PresList">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 		Diagnosis Detail modal -->
		<div id="MyModal" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							<h id="ModalTitle"></h>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</h4>
					</div>

					<div class="modal-body">
						<h3>Illness Detail</h3>
						<div>
							<div class="table-responsive">
								<table class="table table-bordered">
									<tr>
										<th>Illness ID</th>
										<td id="IllnessID"></td>
									</tr>
									<tr>
										<th>Name</th>
										<td id="Name"></td>
									</tr>
									<tr>
										<th>Description</th>
										<td id="Description"></td>
									</tr>
									<tr>
										<th>Season</th>
										<td id="Season"></td>
									</tr>
									<tr>
										<th>Illness Type</th>
										<td id="IllnessType"></td>
									</tr>
									<tr>
										<th>Created Date</th>
										<td id="CreatedDate"></td>
									</tr>
									<tr>
										<th>Created By</th>
										<td id="CreatedBy"></td>
									</tr>
									<tr>
										<th>Modified Date</th>
										<td id="ModifiedDate"></td>
									</tr>
									<tr>
										<th>Modified By</th>
										<td id="ModifiedBy"></td>
									</tr>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- 		Treatment Detail modal -->
		<div id="TreatmentDetailModal" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							<h id="TreatmentDetailModalTitle"></h>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</h4>
					</div>

					<div class="modal-body">
						<h3>Treatment Detail</h3>
						<div>
							<div class="table-responsive">
								<table class="table table-bordered">
									<tr>
										<th>Treatment ID</th>
										<td id="TreatmentID"></td>
									</tr>
									<tr>
										<th>Treatment Method</th>
										<td id="Method"></td>
									</tr>
									<tr>
										<th>Illness</th>
										<td id="IllnessTreatment"></td>
									</tr>
									<tr>
										<th>Date</th>
										<td id="Date"></td>
									</tr>
									<tr>
										<th>Created Date</th>
										<td id="CreatedDate"></td>
									</tr>
									<tr>
										<th>Created By</th>
										<td id="CreatedBy"></td>
									</tr>
									<tr>
										<th>Modified Date</th>
										<td id="ModifiedDate"></td>
									</tr>
									<tr>
										<th>Modified By</th>
										<td id="ModifiedBy"></td>
									</tr>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- 		Diagnosis modal -->
		<div id="DiagModal" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							<h id="DiagModalTitle"></h>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</h4>
					</div>

					<div class="modal-body">
						<h3>Diagnosis</h3>
						<form th:object="${diag}" th:action="@{/admin/diagnosis/save}"
							method="post" id="diagForm">
							<input type="hidden" th:field="*{diagnosisId}" id="DiagnosisID" />

							<input type="hidden" th:field="*{appointment.appId}" id="AppID" />

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Illnesses For Diagnosis</label> <input type="checkbox"
											value="Bike" id="checkSuggest"
											onclick="suggestCheckDiag(this)">Illness Suggestion <select
											th:field="*{illness.illnessId}" class="form-control"
											id="illsug" disabled>
											<option th:each="i:${illsug}" th:value="${i.illnessId}"
												th:utext=${i.name} />
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Degree</label> <input class="form-control required"
											type="text" data-msg-required="This field is required."
											aria-required="true" th:field="*{degree}" id="degree">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select th:field="*{illness.illnessId}" class="form-control"
											id="illall">
											<option th:each="i:${illall}" th:value="${i.illnessId}"
												th:utext=${i.name} />
										</select>
									</div>
								</div>
							</div>

							<div class="m-t-20 text-center">
								<button class="btn btn-primary submit-btn"
									id="submit-new-period" onclick="SaveDiagnosis()">SAVE</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>

		<!-- 		Treatment modal -->
		<div id="TreatModal" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							<h id="TreatModalTitle"></h>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</h4>
					</div>

					<div class="modal-body">
						<h3>Treatment</h3>
						<form th:object="${treatment}"
							th:action="@{/admin/treatment/save}" method="post" id="treatForm">
							<input type="hidden" th:field="*{treatmentId}" id="TreatmentId" />

							<input type="hidden" th:field="*{appointment.appId}"
								id="TreatAppID" />

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Treatments for patient</label> <input type="checkbox"
											value="Bike" id="checkSuggest"
											onclick="suggestCheckTreat(this)">Treatment
										Suggestion <select
											th:field="*{treatmentMethod.treatmentMethodId}"
											class="form-control required" id="treatsug" disabled
											data-msg-required="This field is required."
											aria-required="true">
											<option th:each="t:${treatsug}"
												th:value="${t.treatmentMethodId}" th:utext=${t.name} />
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Illness to treat</label> <select
											th:field="*{illness.illnessId}" class="form-control required"
											id="TreatIllID" data-msg-required="This field is required."
											aria-required="true">
											<option th:each="t:${diagall}"
												th:value="${t.illness.illnessId}" th:utext=${t.illness.name} />
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select th:field="*{treatmentMethod.treatmentMethodId}"
											class="form-control required" id="treatall"
											data-msg-required="This field is required."
											aria-required="true">
											<option th:each="t:${treatall}"
												th:value="${t.treatmentMethodId}" th:utext=${t.name} />
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Follow up date</label> <input class="form-control"
											type="date" th:field="*{followupDate}" id="FollowupDate">
									</div>
								</div>
							</div>

							<div class="m-t-20 text-center">
								<button class="btn btn-primary submit-btn"
									id="submit-new-period" onclick="SaveTreatment()">SAVE</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>

		<!-- 		Prescription modal -->
		<div id="PresModal" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							<h id="PresModalTitle"></h>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</h4>
					</div>

					<div class="modal-body">
						<h3>Prescription</h3>
						<form th:object="${pres}" th:action="@{/admin/prescription/save}"
							method="post" id="presForm">
							<input type="hidden" th:field="*{pmId}" id="PMId" /> <input
								type="hidden" th:field="*{appointment.appId}" id="PresAppID" />

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Prescription for patient</label> <input type="checkbox"
											value="Bike" id="checkSuggest"
											onclick="suggestCheckPres(this)">Prescription
										Suggestion <select th:field="*{medicine.medicineId}"
											class="form-control required" id="pressug" disabled
											data-msg-required="This field is required."
											aria-required="true">
											<option th:each="t:${pressug}" th:value="${t.medicineId}"
												th:utext=${t.name} />
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Dosage</label> <input class="form-control required"
											type="text" th:field="*{dosage}" id="Dosage"
											data-msg-required="This field is required."
											aria-required="true">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select th:field="*{medicine.medicineId}"
											class="form-control required" id="presall"
											data-msg-required="This field is required."
											aria-required="true">
											<option th:each="t:${presall}" th:value="${t.medicineId}"
												th:utext=${t.name} />
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Quantity</label> <input class="form-control required"
											type="number" th:field="*{quantity}" id="Quantity"
											data-msg-required="This field is required."
											aria-required="true">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Price</label> <input class="form-control required"
											type="number" th:field="*{price}" id="Price"
											data-msg-required="This field is required."
											aria-required="true">
									</div>
								</div>
							</div>

							<div class="m-t-20 text-center">
								<button class="btn btn-primary submit-btn"
									id="submit-new-period" onclick="SavePres()">SAVE</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>

		<!-- 		@* Delete Confirmation Modal *@ -->

		<div class="modal fade" id="deleteConfirmDiag">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							Delete Diagnosis Record <a href="#" class="close"
								data-dismiss="modal">&times;</a>
						</h4>
					</div>
					<div class="modal-body">
						<h4>Are you sure you want to delete this?</h4>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
						<a href="#" class="btn btn-danger" onclick="ConfirmDeleteDiag()">Confirm</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteConfirmTreat">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							Delete Treatment Record <a href="#" class="close"
								data-dismiss="modal">&times;</a>
						</h4>
					</div>
					<div class="modal-body">
						<h4>Are you sure you want to delete this?</h4>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
						<a href="#" class="btn btn-danger" onclick="ConfirmDeleteTreat()">Confirm</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteConfirm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="col-sm-12 modal-title text-center" align="center">
							Delete Student Record <a href="#" class="close"
								data-dismiss="modal">&times;</a>
						</h4>
					</div>
					<div class="modal-body">
						<h4>Are you sure you want to delete this?</h4>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
						<a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript"
			src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
		<script th:inline="javascript">
		$(document).ready(function() {
			loadSymptom();
			loadExamination();
			loadPatientDetail();
			loadDiagnosis();
			loadTreatment();
			loadPres();
			validation();
		});
		
		function validation(){
			$("#diagForm").validate({
				rules: {
					degree: "required",
				},
				messages: {
					degree: "required",
				}
			});
			
			$("#treatForm").validate({
				rules: {
					treatsug: "required",
					treatall: "required",
					TreatIllID: "required",
				},
				messages: {
					treatsug: "required",
					treatall: "required",
					TreatIllID: "required",
				}
			});
			
			$("#presForm").validate({
				rules: {
					pressug: "required",
					Dosage: "required",
					presall: "required",
					Quantity: "required",
					Price: "required",
				},
				messages: {
					pressug: "required",
					Dosage: "required",
					presall: "required",
					Quantity: "required",
					Price: "required",
				}
			});
		}
		
		
		
		function loadSymptom(){
			var appID = [[${appID}]] ;
			var url = "/admin/doctor/api/appointments/symptom/"+ appID;
		    $.ajax({
		    	type: "GET",
		    	url: url,
		    	success: function (data) {
		        	var SetData = $("#SymptomList");
		        	for (var i = 0; i < data.length; i++) {
		                		
		        	var list =                             
					"<tr>"+
					"<td><strong>"+ data[i].name +"</strong>"+ 
					"<span class='float-right'>"+data[i].description+"</span></td>"+
					"</tr>";		                	
		         	SetData.append(list);
		            }
		        }
            });	
		}
		
		function loadExamination(){
			var appID = [[${appID}]] ;
			var url = "/admin/doctor/api/appointments/examination/"+ appID;
		    $.ajax({
		    	type: "GET",
		    	url: url,
		    	success: function (data) {
		        	var SetData = $("#ExaminationList");
		        	for (var i = 0; i < data.length; i++) {
		                		
		        	var list =                             
					"<tr>"+
					"<td><strong>"+ data[i].examinationType.name +"</strong>"+ 
					"<span class='float-right'>"+""+"</span></td>"+
					"</tr>";		                	
		         	SetData.append(list);
		            }
		        }
            });	
		}
		
		function loadPatientDetail(){
			var appID = [[${appID}]] ;
			var patientID = [[${patientID}]] ;
			var url = "/admin/patient/getPatientDetailByID/"+ patientID;
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {		                    
	                $("#PatientName").html(data.name);
	                $("#PatientID").html(data.patientId);
	                $("#Phone").html(data.phone);
	                $("#Email").html(data.email);
	                $("#DOB").html(data.dob);
	                $("#Address").html(data.address);
                }
            });
		}

		function loadDiagnosis(){
			var appID = [[${appID}]] ;
			var url = "/admin/diagnosis/getDiagnosisByAppID/"+ appID;
		    $.ajax({
		    	type: "GET",
		    	url: url,
		    	success: function (data) {
		        	var SetData = $("#DiagnosisList");
		        	for (var i = 0; i < data.length; i++) {
		                		
		        	var list =                             
					"<tr>"+
					"<td><strong>"+ data[i].illness.name +"</strong>"+ 
					"<span class='float-right'>"+data[i].degree+"</span></td>"+
					"<td>" + "<a href='#' onclick='ViewIllnessDetail(" + data[i].illness.illnessId + ")' >Detail</a>"+
					"<a href='#' onclick='EditDiagnosis("+data[i].diagnosisId+")'><i class='fa fa-pencil m-r-5'></i>Edit        </a>"+
					"<a href='#' onclick='DeleteRecordDiag("+data[i].diagnosisId+")'><i class='fa fa-trash-o m-r-5'></i>Delete</a>"+
					"</tr>";		                	
		         	SetData.append(list);
		            }
		        }
            });			
		}
		
		function loadTreatment(){
			var appID = [[${appID}]] ;
			var url = "/admin/treatment/getAllTreatmentByAppID/"+ appID;
		    $.ajax({
		    	type: "GET",
		    	url: url,
		    	success: function (data) {
		        	var SetData = $("#TreatmentList");
		        	for (var i = 0; i < data.length; i++) {
		                		
		        	var list =                             
					"<tr>"+
					"<td><strong>"+ data[i].treatmentMethod.name +"</strong>"+ 
					"<span class='float-right'>"+data[i].illness.name+"</span></td>"+
					"<td>" + "<a href='#' onclick='ViewTreatmentDetail(" + data[i].treatmentId + ")' >Detail</a>"+
					"<a href='#' onclick='EditTreatment("+data[i].treatmentId+")'><i class='fa fa-pencil m-r-5'></i>Edit        </a>"+
					"<a href='#' onclick='DeleteRecordTreat("+data[i].treatmentId+")'><i class='fa fa-trash-o m-r-5'></i>Delete</a>"+
					"</tr>";		                	
		         	SetData.append(list);
		            }
		        }
            });			
		}
		
		function loadPres(){
			var appID = [[${appID}]] ;
			var url = "/admin/prescription/getPrescriptionMedicineByAppID/"+ appID;
		    $.ajax({
		    	type: "GET",
		    	url: url,
		    	success: function (data) {
		        	var SetData = $("#PresList");
		        	for (var i = 0; i < data.length; i++) {
		                		
		        	var list =                             
					"<tr>"+
					"<td><strong>"+ data[i].medicine.name +"</strong>"+ 
					"<span class='float-right'>"+data[i].quantity+"</span></td>"+
					"<td>" + 
// 					"<a href='#' onclick='ViewPresDetail(" + data[i].medicine.medicineId + ")' >Detail</a>"+
					"<a href='#' onclick='EditPres("+data[i].pmId+")'><i class='fa fa-pencil m-r-5'></i>Edit        </a>"+
					"<a href='#' onclick='DeleteRecordPres("+data[i].pmId+")'><i class='fa fa-trash-o m-r-5'></i>Delete</a>"+
					"</tr>";
		         	SetData.append(list);
		            }
		        }
            });			
		}
		
		function ViewIllnessDetail(illnessID){
	        var url = "/admin/illness/illness/getIllnessByID/" + illnessID;
	        $("#ModalTitle").html("Illness Detail");
	        $("#MyModal").modal();
	        $.ajax({
	            type: "GET",
	            url: url,
	            success: function (data) {
	                $("#IllnessID").html(data.illnessId);
	                $("#Name").html("Patient ID: "+data.name);
	                $("#Description").html(data.description);
	                $("#Season").html(data.season);
	                $("#IllnessType").html(data.illnessType.name);
	                $("#CreatedDate").html(data.createdDate);
	                $("#CreatedBy").html(data.createdBy);
	                $("#ModifiedDate").html(data.modifiedDate);
	                $("#ModifiedBy").html(data.modifiedBy);
	                
	            }
	        })
		}
		
		function ViewTreatmentDetail(id){
	        var url = "/admin/treatment/getTreatmentByID/" + id;
	        $("#TreatmentDetailModalTitle").html("Illness Detail");
	        $("#TreatmentDetailModal").modal();
	        $.ajax({
	            type: "GET",
	            url: url,
	            success: function (data) {
	                $("#TreatmentID").html(data.treatmentId);
	                $("#Method").html(data.treatmentMethod.name);
	                $("#IllnessTreatment").html(data.illness.name);
	                $("#Date").html(data.treatmentTime);
	                $("#CreatedDate").html(data.createdDate);
	                $("#CreatedBy").html(data.createdBy);
	                $("#ModifiedDate").html(data.modifiedDate);
	                $("#ModifiedBy").html(data.modifiedBy);	                
	            }
	        })
		}
		
		function NewDiagnosis(){
			var appID = [[${appID}]] ;
			
	        $("#DiagModalTitle").html("Illness Diagnosis");
	        $("#DiagModal").modal();
	        $("#AppID").val(appID);
// 		    $('select[multiple]').multiselect({
// 			    columns: 1,
// 			    search: true,
// 			    minHeight:100
// 			});
		}
		
		
		function NewTreatment(){
			var appID = [[${appID}]] ;
			
	        $("#TreatModalTitle").html("Treatments For Patient");
	        $("#TreatModal").modal();
	        $("#TreatAppID").val(appID);
		}
		
		function NewPrescription(){
			var appID = [[${appID}]] ;
			
	        $("#PresModalTitle").html("Prescription For Patient");
	        $("#PresModal").modal();
	        $("#PresAppID").val(appID);
		}
		
		
	    function EditDiagnosis(diagnosisID) {
	        var url = "/admin/diagnosis/getDiagnosisByID/" + diagnosisID;
	        $("#DiagModalTitle").html("Edit Diagnosis");
	        $("#DiagModal").modal();
	        $.ajax({
	            type: "GET",
	            url: url,
	            success: function (data) {
	                $("#DiagnosisID").val(data.diagnosisId);
	                $("#AppID").val(data.appointment.appId);
	                $("#illsug").val(data.illness.illnessId);
	                $("#illall").val(data.illness.illnessId);
	                $("#degree").val(data.degree);
	            }
	        })
	    }
	    
	    function EditTreatment(treatmentID) {
	        var url = "/admin/treatment/getTreatmentByID/" + treatmentID;
	        $("#TreatModalTitle").html("Edit Treatment");
	        $("#TreatModal").modal();
	        $.ajax({
	            type: "GET",
	            url: url,
	            success: function (data) {
	                $("#TreatmentId").val(data.treatmentId);
	                $("#TreatAppID").val(data.appointment.appId);
	                $("#treatsug").val(data.treatmentMethod.treatmentMethodId);
	                $("#treatall").val(data.treatmentMethod.treatmentMethodId);
	                $("#TreatIllID").val(data.illness.illnessId);
	                $("#TreatmentTime").val(data.treatmentTime);
	                $("#FollowupDate").val(data.followupDate);
	            }
	        })
	    }
	    
	    function EditPres(pmID) {
	        var url = "/admin/prescription/getPrescriptionMedicineByID/" + pmID;
	        $("#PresModalTitle").html("Edit Prescription");
	        $("#PresModal").modal();
	        $.ajax({
	            type: "GET",
	            url: url,
	            success: function (data) {
	                $("#PMId").val(data.pmId);
	                $("#PresAppID").val(data.appointment.appId);
	                $("#pressug").val(data.medicine.medicineId);
	                $("#presall").val(data.medicine.medicineId);
	                $("#Dosage").val(data.dosage);
	                $("#Quantity").val(data.quantity);
	                $("#Price").val(data.price);
	            }
	        })
	    }
		
	    function suggestCheckDiag(checkbox){
	    		document.getElementById('illall').disabled = checkbox.checked;
	    		document.getElementById('illsug').disabled = !checkbox.checked;
	    }
	    
	    function suggestCheckTreat(checkbox){
    		document.getElementById('treatall').disabled = checkbox.checked;
    		document.getElementById('treatsug').disabled = !checkbox.checked;
	    }
		
	    function DeleteRecordDiag(ID) {
	        $("#DiagnosisID").val(ID);
	        $("#deleteConfirmDiag").modal("show");
	    }
	    function ConfirmDeleteDiag() {
			var appID = [[${appID}]] ;
	        var DiagID = $("#DiagnosisID").val();
	        $.ajax({
	            type: "POST",
	            url: "/admin/diagnosis/delete?id=" + DiagID,
	            success: function (result) {
	                window.location.href = "/admin/procedure/profile/"+appID;
	                $("#deleteConfirmDiag").modal("hide");
	            }
	        })
	    }
		
	    function DeleteRecordTreat(ID) {
	        $("#TreatmentId").val(ID);
	        $("#deleteConfirmTreat").modal("show");
	    }
	    function ConfirmDeleteTreat() {
			var appID = [[${appID}]] ;
	        var TreatID = $("#TreatmentId").val();
	        $.ajax({
	            type: "POST",
	            url: "/admin/treatment/delete?id=" + TreatID,
	            success: function (result) {
	                window.location.href = "/admin/procedure/profile/"+appID;
	                $("#deleteConfirmTreat").modal("hide");
	            }
	        })
	    }
		</script>
	</div>
</body>
</html>