<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="ISO-8859-1">
<title>Doctor Schedule Detail</title>
</head>
<body>
	<div layout:fragment="content"
		style="margin-top: 10px; margin-bottom: 40px;">
		<div class="row">
			<div class="col-lg-8 offset-lg-1">
				<h4 class="page-title">Doctor schedule</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11" style="margin-left: 30px;">
				<form class="form-horizontal" th:object="${infor}" method="post"
					enctype="multipart/form-data">
					<div class="panel-body">
					<h5>Export Doctor schedule <a id="export" class='btn btn-primary btn-outline'><i class='fa fa-calendar'></i></a></h5>
					<h5>Add new appointment <a th:href="@{'/admin/appointment/addAppointment?SelectedDoctor=' + ${infor.employee.employeeId}}" class='btn btn-primary btn-outline'><i class='fa fa-calendar-o'></i></a></h5>
						<table id="table-compare" style="align-content: center;">
							<tr style="height: 28px">
								<th>Doctor Name:</th>
								<td th:text="${infor.employee.firstName}"></td>
							</tr>
							<tr style="height: 28px"> 
								<th>Phone:</th>
								<td th:text="${infor.employee.phone}"></td>
							</tr>
							<tr style="height: 28px">
								<th>Email:</th>
								<td th:text="${infor.employee.email}"></td>
							</tr>
							<tr style="height: 28px">
								<th>From:</th>
								<td id="tdDateFrom"></td>
								<th>To:</th>
								<td id="tdDateTo"></td>
							</tr>
						</table>
						<table class="table table-striped" style="text-align: center;">
							<thead>
								<tr style="background-color: #009efb;color: white;">
									<th style="width: 100px;"></th>
									<th style="width: 120px;">Monday<br/><span id="monday"></span></th>
									<th style="width: 120px;">Tuesday<br/><span id="tuesday"></span></th>
									<th style="width: 120px;">Wednesday<br/><span id="wednesday"></span></th>
									<th style="width: 120px;">Thursday<br/><span id="thursday"></span></th>
									<th style="width: 120px;">Friday<br/><span id="friday"></span></th>
									<th style="width: 120px;">Saturday<br/><span id="saturday"></span></th>
									<th style="width: 120px;">Sunday<br/><span id="sunday"></span></th>
								</tr>
							</thead>
							<tbody>
								<tr id="shift1" class="card-box" style="height: 70px;">
									<td style="font-weight: bold;text-align: center;background-color: #009efb;color: white;"><span>Shift 1</span><br/><span>7:00AM~9:00AM</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr id="shift2" class="card-box" style="height: 70px;">
								<td style="font-weight: bold;text-align: center;background-color: #009efb;color: white;"><span>Shift 2</span><br/><span>9:00AM~11:00AM</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr id="shift3" class="card-box" style="height: 70px;">
								<td style="font-weight: bold;text-align: center;background-color: #009efb;color: white;"><span>Shift 3</span><br/><span>1:00PM~3:00PM</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr id="shift4" class="card-box" style="height: 70px;">
								<td style="font-weight: bold;text-align: center;background-color: #009efb;color: white;"><span>Shift 4</span><br/><span>3:00PM~5:00PM</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr id="shift5" class="card-box" style="height: 70px;">
								<td style="font-weight: bold;text-align: center;background-color: #009efb;color: white;"><span>Shift 5</span><br/><span>7:00PM~9:00PM</span></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<input type="hidden" th:field="${infor.employee.employeeId}" id="employeeId"/> <input
							type="hidden" th:field="${infor.dateFrom}" />
					</div>
				</form>
			</div>
		</div>
			<div class="modal" id="modal-export"
				tabindex="-1" role="dialog" data-background="false" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Notification</h4>
						</div>
						<div class="modal-body">
							<p id="alert-message"></p>
						</div>
					</div>
				</div>
			</div>
		

		<script src="/assets/js/jquery-3.4.1.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
		<script src="/assets/js/doctor-schedule.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			function openInNewTab(url) {
			    var win = window.open(url, '_blank');
			    win.focus();
			}
			const CONTEXTPATH = "https://localhost:8443/";
			$("#export").click(function() {
				$.ajax({
					url : "/admin/appointment/exportSchedule",
					data : {
						employeeId : $("#employeeId").val(),
						dateFrom : $("#dateFrom").val()
					},
// 					contentType : "application/json",
// 					dataType : "json",
					type : "get",
					success : function(data, status) {
						alertMessage('Export successfully');
						openInNewTab(CONTEXTPATH+data);
					}
				});
			});
		});
		function alertMessage(message) {
			$('#modal-export').modal('hide');
			$('#modal-export').modal('show');
			$('#alert-message').text(message);
		}
		</script>
	</div>

</body>
</html>


