<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Doctors</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title" id="title">Employee detail</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
<!--                <a th:href="@{${'/admin/employee/edit/' + employee.employeeId}}"-->
<!--                   class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Edit Doctor</a>-->
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar"
                                                 th:src="@{${'/upload/employee/' + employee.imagePath}}"
                                                 alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="profile-info-left">
                                        <h3 th:text="${employee.firstName + ' ' + employee.lastName}"
                                            class="user-name m-t-0 mb-0">Cristina Groves</h3>
                                        <small th:text="${employee.speciality.name}"
                                               class="text-muted">Gynecologist</small>
                                        <div class="staff-id">Employee ID: <span
                                                th:text="${employee.code}">DR-001</span></div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#" th:text="${employee.phone}">770-889-6484</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="#" th:text="${employee.email}">cristinagroves@example.com</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Birthday:</span>
                                            <span class="text" th:text="${employee.dob}">3rd March</span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text" th:text="${employee.address}">714 Burwell Heights Road, Bridge City, TX, 77611</span>
                                        </li>
                                        <li>
                                            <span class="title">Gender:</span>
                                            <span class="text"
                                                  th:text="${#strings.equals(employee.gender, 'f')} ? 'Female' : 'Male'">Female</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/assets/js/jquery.quicksearch.js"></script>
    <script src="/assets/js/jquery.multi-select.js"></script>
    <script src="/assets/js/phuong_doctor.js"></script>
</div>

</body>
</html>