<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
<meta charset="ISO-8859-1">
<title>Finished appointment</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container pt-4 pb-4">
		<div class="row">
			<div class="col-sm-4 col-3">
				<h4 class="page-title">Appointment: AP-0001</h4>
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card-box profile-header">
					<div class="row">
						<div class="col-md-12">
							<div class="profile-view">
								<div class="profile-img-wrap">
									<div class="profile-img">
										<a href="#"><img class="avatar" src="assets/img/employee-03.jpg" alt=""></a>
									</div>
								</div>
								<div class="profile-basic">
									<div class="row">
										<div class="col-md-5">
											<div class="profile-info-left">
												<h3 class="user-name m-t-0 mb-0">Authur Flex</h3>
												<div class="staff-id">Age: 47</div>
												<div class="staff-id">Patient ID : PA-0001</div>
<!--												<div class="staff-msg"><a href="chat.html" class="btn btn-primary">Send Message</a></div>-->
											</div>
										</div>
										<div class="col-md-7">
											<ul class="personal-info">
												<li>
													<span class="title">Phone:</span>
													<span class="text"><a href="#">770-889-6484</a></span>
												</li>
												<li>
													<span class="title">Email:</span>
													<span class="text"><a href="#">cristinagroves@example.com</a></span>
												</li>
												<li>
													<span class="title">Address:</span>
													<span class="text">714 Burwell Heights Road, Bridge City, TX, 77611</span>
												</li>
												<li>
													<span class="title">Gender:</span>
													<span class="text">Female</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card-box">
					<h4 class="payslip-title">Appointment on 27th July 2018</h4>
					<div class="row">
						<div class="col-sm-6 m-b-20">
							<ul class="list-unstyled">
								<li>
									<h4 class="mb-0"><strong>Implement</strong></h4></li>
								<li>Dr. Walter Melon</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 m-b-20">
							<ul class="list-unstyled">
								<li>
									<h4 class="mb-0"><strong>Symptom(s)</strong></h4></li>
								<li>Headache</li>
								<li>Hard to breath</li>
							</ul>

							<ul class="list-unstyled">
								<li>
									<h4 class="mb-0"><strong>Examination(s)</strong></h4></li>
								<li>Blood test <a href="#" class="badge badge-danger">CREATED</a></li>
								<li>Urine test <a href="#" class="badge badge-warning">SENT</a></li>
								<li>X-Ray <a href="#" class="badge badge-success">FINISHED</a></li>
							</ul>

							<ul class="list-unstyled">
								<li>
									<h4 class="mb-0"><strong>Conclusion</strong></h4>
								</li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</ul>
						</div>
						<div class="col-sm-6">
							<div>
								<h4 class="m-b-10"><strong>Prescription</strong></h4>
								<table class="table table-bordered">
									<tbody>
									<tr>
										<td><strong>Phenorbabital, 30mg</strong> <span class="float-right">24 tablet</span></td>
									</tr>
									<tr>
										<td><strong>Aspirin 3.6g</strong> <span class="float-right">12 capsules</span></td>
									</tr>
									</tbody>
								</table>
								<ul class="list-unstyled">
									<li>
										<h4 class="mb-0"><strong>Notes</strong></h4>
									</li>
									<p>Avoid alcohol.</p>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>